<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto d-flex justify-content-center align-items-center" style="height: 300px;">
        <h4>ご注文ありがとうございました！</h4>
    </div>
  </div>
</div>